body {
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #36529e;
  max-width: 100vh;
}

main {
  border: 1px solid #0f3460;
  padding: 2em;
  margin-top: 2em;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background: #0f3460;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

.result {
  color: white;
  font-size: 2rem;
  margin-top: 0.8em;
}

.nameA,
.nameB {
  padding: 3.5em;
  font-size: 1.25rem;
}

h1,
.nameA,
.nameB {
  color: white;
}

#btn {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#btn:active {
  transform: scale(0.98);
}

.heart {
  width: 60px;
  height: 60px;
  background: red;
  position: relative;
  transform: rotate(45deg);
  margin: 0 auto;
  margin-top: 3em;
  box-shadow: -10px 10px 90px red;
  animation: heart 0.6s linear infinite;
}

.heart::before {
  content: " ";
  position: absolute;
  width: 60px;
  height: 60px;
  background: red;
  top: -55%;
  left: 0.5%;
  border-radius: 50px;
  box-shadow: -10px -10px 90px red;
}

@keyframes heart {
  0% {
    transform: rotate(45deg) scale(1.07);
  }
  80% {
    transform: rotate(45deg) scale(1.5);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

.heart:after {
  content: "";
  position: absolute;

  width: 60px;
  height: 60px;
  background: red;
  right: 50%;
  border-radius: 50px;
  box-shadow: 10px 10px 90px red;
}

.nameAError {
  color: red;
}

.nameBError {
  color: red;
}
